<section class="AdminCategoriesList container">
    <div class="row">
        <div class="AdminCategoriesList--element gr-5 gr-12@tablet suffix-1 suffix-0@tablet" ng-repeat="category in categoryCtrl.categories" ng-init="categoryCtrl.isOpen[$index] = false">
            <div class="gr-8"><span>{{category.name}}</span><i ng-if="category.icon" class="fa {{category.icon}}"></i></div>
            <ke-icon-button
                    class="gr-4"
                    data-icon="fa-pencil-square-o"
                    ng-click="categoryCtrl.isOpen[$index] = !categoryCtrl.isOpen[$index]"
                    data-title="Edit"
                    ></ke-icon-button>
            <div class="gr-12" ng-show="categoryCtrl.isOpen[$index]">
                <ke-input-text
                        ng-model="category.name"
                        data-icon="fa-font"
                        data-full-width="true"
                        ></ke-input-text>
                <ke-select
                        ng-model="category.parent"
                        data-placeholder="Category"
                        data-options="categoryCtrl.categories"
                        data-option-value="_id"
                        data-full-width="true"
                        ></ke-select>
            </div>
        </div>
        <div class="gr-1 clear-left float-right">
            <ke-icon-button
                    data-icon="fa-plus"
                    ng-click="categoryCtrl.openModal($event, null)" aria-label="Add Category">
            </ke-icon-button>
        </div>
    </div>
</section>