<md-dialog aria-label="Editing">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="modalCtrl.category._id">Editing: {{::modalCtrl.category.name}}</h2>
                <h2 ng-if="modalCtrl.category._id === undefined">New Category</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="modalCtrl.cancel()">
                    <i class="fa fa-times" aria-label="Close dialog"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <md-input-container md-no-float>
                    <input ng-model="modalCtrl.category.name" placeholder="Name">
                </md-input-container>
                <md-input-container layout="fill">
                    <md-select ng-model="modalCtrl.category.parent" placeholder="Parent">
                        <md-option ng-repeat="category in modalCtrl.categories" value="{{category._id}}">{{category.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container md-no-float>
                    <input ng-model="modalCtrl.category.icon" placeholder="Icon">
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="modalCtrl.cancel()" class="md-primary">
                Cancel
            </md-button>
            <md-button ng-click="modalCtrl.answer('Save')" class="md-primary">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>