@import 'settings';
.container.article {
    /* Header */
    .header {
        margin: 0 auto;
        min-height: 101vh;
        width: 100%;
    }

    .bg-img {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100vw;
    }

    .bg-img img {
        width: 100vw;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }

    .bg-img::before,
    .bg-img::after {
        content: '';
        position: absolute;
        z-index: 1;
    }

    .bg-img::after {
        background: #f8ebda;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    &.modify .bg-img::after {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .bg-img::before {
        width: 100%;
        height: 100%;
        background-color: $primary-color-transparent;
    }

    &.modify .bg-img::before {
        background-color: rgba(247,214,169,0.1);
    }

    .title {
        z-index: 0;
        padding: 0 1.25em;
        width: 100%;
        text-align: left;
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);

        a {
            font-weight: bold;
            color: $primary-color-dark;
        }
    }

    &.modify .title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .title h1 {
        padding: 0 0 0.5em 0;
        color: $color-white;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 3.25em;
        margin: 0 auto;
    }

    &.modify h1 {
        color: $secondary-text-color;
    }

    .title p {
        color: $divider-color;
        padding: 0 0 0.6em;
        font-weight: 300;
        font-size: 0.85em;
        margin: 0 auto;
        opacity: 0;
    }

    &.modify .title p {
        color: $secondary-text-color;
        opacity: 1;
    }

    .title h1,
    .title p.subline {
        line-height: 1;
    }

    .title p.subline {
        font-size: 1.75em;
    }

    /* Conent */
    .content {
        width: 60%;
        position: absolute;
        right: 0;
        padding: 0 2.5em;

        img {
            width: auto !important;
            height: auto !important;
            max-width: 100%;
            margin: 15px 0;
        }

        h1 {
            margin: 0 !important;
        }

        h2 {
            margin: 0 !important;
        }

        h3 {
            margin: 0 !important;
        }

        h4 {
            margin: 0 !important;
        }

        h5 {
            margin: 0 !important;
        }

        h6 {
            margin: 0 !important;
        }
    }

    .content > div:not(.title) {
        margin: 0px auto 0;
        max-width: 900px;
        padding: 0 1.25em;
    }

    .content > div:not(.title) p {
        margin: 0 auto 1.5em auto;
    }

    .content > div:not(.title) p:first-child {
        font-size: 1.35em;
    }

    /***** Individual effects *****/

    /* -------------------------- */
    /* Side Fixed */
    /* -------------------------- */
    &:not(.notrans) .bg-img::before {
        -webkit-transition-property: background-color;
        transition-property: background-color;
    }

    &:not(.notrans) .bg-img::after {
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
    }

    &:not(.notrans) .title p {
        -webkit-transition-property: opacity;
        transition-property: opacity;
    }

    &:not(.notrans) .content > div {
        -webkit-transition-property: -webkit-transform, opacity;
        transition-property: transform, opacity;
    }

    &:not(.notrans) .bg-img::before,
    &:not(.notrans) .bg-img::after,
    &:not(.notrans) .title p,
    &:not(.notrans) .content > div {
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .content > div {
        position: relative;
        margin: 100px 0;
        color: $secondary-text-color;

        > div {
            &#articleContent {
                margin: 20px 0;

                b {
                    font-weight: bold;
                }

                i {
                    font-style: italic;
                }

                sub {
                    vertical-align: sub;
                    font-size: smaller;
                }

                sup {
                    vertical-align: super;
                    font-size: smaller;
                }

                ul {
                    list-style-type: disc;
                    list-style-position: inside;
                    li {
                        padding: 8px;
                    }
                }

                ol {
                    counter-reset: listNumbering;
                    li {
                        padding: 8px;
                        font-size: $font-size-md;
                        counter-increment: listNumbering;

                        &:before {
                            content: counter(listNumbering,decimal) '. ';
                            font-size: $font-size-xl;
                            vertical-align: middle;
                        }
                    }
                }
            }

            &.fbComments {
                margin-top: 0;
            }

            &.socialLinks {
                margin: 0;
                display: inline-flex;

                div {
                    margin-right: 2px;
                }
            }

            &.relatedArticles {
                margin-top: 0;
            }
        }
    }

    .content div:not(:first-child) {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    &.modify .content div:not(:first-child) {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }


    /* Delays */
    &:not(.notrans) .title,
    &:not(.notrans) .bg-img::before,
    &:not(.notrans) .bg-img::after {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    &.modify:not(.notrans) .title,
    &.modify:not(.notrans) .bg-img::before,
    &.modify:not(.notrans) .bg-img::after {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    &.modify:not(.notrans) .content div:not(:first-child) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }


    /* Media Queries */
    @media screen and (max-width: $tabletWidth) {
        .title, .content {
            width: 75%;
            padding: 0 1em 0 1em;
        }

        .bg-img::after {
            width: 75%;
        }
    }

    @media screen and (max-width: $mobileWidth) {

        .title {
            font-size: $font-size-md;
        }

        .title h1 {
            font-size: 32px;
        }

        .title p.subline {
            font-size: 20px;
        }

        .title p {
            font-size: 0.75em;
        }

        #articleContent {
            font-size: $font-size-l;
        }

        .content {
            width: 100%;
            margin: 0 auto;
        }

        .bg-img::after {
            width: 95%;
        }

        button.trigger::before {
            display: none;
        }
    }
}