@import 'settings';
.container.grid {
    .fa {
        padding: 0px 0 0 0;
        display: block;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -moz-transform 0.2s;
        transition: transform 0.2s;

        &:before {
            font-size: 5em;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    }

    md-grid-tile {
         .gridBackgroundImage {
             position: absolute;
             left: 0;
             width: 50%;
             height: 100%;
             opacity: 1;
             @include animation(gridOpacityChangeDown, 0.5s, '', '', '', 1, forwards);
             background-size: 150% 100%;

             .bottomIcon {
                 font-size: 10px;
                 opacity: 0;
             }
        }


        .gridPostDescription {
            position: absolute;
            left: 50%;
            width: 50%;
            height: 100%;
            opacity: 0.6;
        }

        &:hover {
            .gridBackgroundImage {
                @include animation(gridOpacityChangeUp, 0.5s, '', '', '', 1, forwards);

                .bottomIcon {
                    opacity: 1;
                }
            }

            .gridPostDescription {
                opacity: 1;
            }

        }

        md-grid-tile-header {
            background-color: rgba(0,0,0,0.4);
        }

        md-grid-tile-footer {
            background-color: rgba(0,0,0,0.4);
        }
    }
}

@include keyframes(gridOpacityChangeUp) {
    0% {opacity:1;}
    100% {opacity:0.6;
        background-position-x: 50%}
}

@include keyframes(gridOpacityChangeDown) {
    0% {opacity:0.6;
        background-position-x: 50%}
    100% {opacity:1}
}