@import 'settings';
.mainGridElement {
    height: 16em;
    position: relative;
    overflow: hidden;
    color: $primary-color-white;
    padding: 10px;
    text-align: center;
    top: 0;
    left: 0;

    .mainGridImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-size: cover;
        background-repeat: no-repeat;
        @include transition(all 0.45s ease);
        @include transform(scale(1));
    }

    .mainGridOverlay {
        background-color: $bg-color-dark;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    .mainGridDescription {
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 10px 20px;
        .description {
            margin-bottom: 10px;
        }
    }

    &:hover {
        .mainGridImage {
            @include transform(scale(1.1));
        }
    }

    @media screen and (max-width: $mobileWidth) {
        padding: 0;
    }
}

.Grid {
    .GridElement {
        height: 16em;
        position: relative;
        overflow: hidden;
        color: $primary-color-white;
        padding: 5px;

        .GridImageContainer {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 5px;
            overflow: hidden;

            .GridBackgroundImage {
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                text-align: center;
                top: 0;
                left: 0;
                font-size: 48px;

                @include transition(all 0.45s ease);
                @include transform(scale(1));
                i {
                    padding-top: 50%;
                    transform: translate(0, -50%);
                }
                h2 {
                    padding-top: 50%;
                    transform: translate(0, -50%);
                }

            }

            .GridElementOverlay {
                background-color: $bg-color-dark;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }

            &:hover {
                .GridBackgroundImage {
                    @include transform(scale(1.1));
                }
            }
        }

        .GridPostDescription {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 10px 20px;

            .PostDescription {
                padding-top: 20px;
                font-style: italic;
            }
        }

        @media screen and (max-width: $mobileWidth) {
            padding: 0;

            .GridImageContainer {
                margin: 5px 0;
            }
        }
    }
}