@import 'settings';
.mainGridElement {
    height: 16em;
    position: relative;
    overflow: hidden;
    color: $color-white;
    margin: 10px 0 10px 10px;
    text-align: center;
    top: 0;
    left: 0;

    .mainGridImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        h1 {
            padding-top: 50px;
        }

        background-size: cover;
        background-repeat: no-repeat;
        @include transition(all 0.45s ease);
        @include transform(scale(1));
    }

    .mainGridOverlay {
        background-color: $color-dark;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    .mainGridDescription {
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 10px 20px;
        .description {
            margin-bottom: 10px;
        }
    }

    &:hover {
        .mainGridImage {
            @include transform(scale(1.1));
        }
    }

    @media screen and (max-width: $mobileWidth) {
        padding: 0;
        margin: 0;
    }
}

.Grid {
    .GridElement {
        height: 16em;
        position: relative;
        overflow: hidden;
        color: $color-white;
        padding: 5px;

        .GridImageContainer {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 5px;
            overflow: hidden;

            .GridBackgroundImage {
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                text-align: center;
                top: 0;
                left: 0;
                font-size: 48px;

                @include transition(all 0.45s ease);
                @include transform(scale(1));
                i {
                    font-size: 48px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding-top: 40%;
                    margin-left: 50%;
                    transform: translate(-50%, -50%);
                }
                h4 {
                    padding-top: 70%;
                    transform: translate(0, -50%);
                }

            }

            .GridElementOverlay {
                background-color: $color-dark;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.4;
            }

            &:hover {
                .GridBackgroundImage {
                    @include transform(scale(1.1));
                }
            }
        }

        .GridPostDescription {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 10px 20px;

            .PostDescription {
                padding-top: 20px;
                font-style: italic;
            }
        }

        @media screen and (max-width: $mobileWidth) {
            padding: 0;

            .GridImageContainer {
                margin: 5px 0;
            }
        }

        &.ng-enter, &.ng-leave, &.ng-move {
            @include transition(all linear 0.5s);
        }
        &.ng-enter, &.ng-leave.ng-leave-active, &.ng-move {
            opacity: 0;
            @include transform(translate(0, 50%));
        }
        &.ng-enter.ng-enter-active, &.ng-leave, &.ng-move.ng-move-active {
            opacity: 1;
            @include transform(translate(0, 0));
        }

    }
}

#catInfo {
    width: 100vw;
    padding-top: 50px;
    text-align: center;

    h5 {
        margin-top: 40px;
    }
}

#catContainer {
    margin:0 auto;
    width:85px;

    
    #cat div{
        width: 6px;
        height: 6px;
        background: none;
        box-shadow: 36px 54px $cat-color,42px 48px $cat-color,48px 42px $cat-color,36px 66px $cat-color,36px 60px $cat-color,36px 72px $cat-color,36px 78px $cat-color,54px 48px $cat-color,54px 54px $cat-color,60px 54px $cat-color,72px 54px $cat-color,66px 54px $cat-color,78px 54px $cat-color,84px 54px $cat-color,90px 54px $cat-color,96px 54px $cat-color,36px 84px $cat-color,36px 90px $cat-color,102px 54px $cat-color,102px 48px $cat-color,108px 42px $cat-color,114px 48px $cat-color,120px 54px $cat-color,120px 60px $cat-color,120px 66px $cat-color,120px 78px $cat-color,120px 72px $cat-color,120px 84px $cat-color,120px 90px $cat-color,42px 96px $cat-color,48px 102px $cat-color,54px 102px $cat-color,60px 108px $cat-color,114px 90px $cat-color,108px 96px $cat-color,102px 96px $cat-color,66px 114px $cat-color,66px 120px $cat-color,66px 126px $cat-color,66px 132px $cat-color,72px 120px $cat-color,78px 120px $cat-color,90px 120px $cat-color,84px 120px $cat-color,96px 120px $cat-color,102px 120px $cat-color,108px 120px $cat-color,114px 120px $cat-color,114px 126px $cat-color,114px 132px $cat-color,120px 114px $cat-color,126px 114px $cat-color,126px 120px $cat-color,132px 108px $cat-color,132px 102px $cat-color,132px 96px $cat-color,132px 90px $cat-color,132px 84px $cat-color,126px 78px $cat-color,138px 78px $cat-color,138px 72px $cat-color,138px 66px $cat-color,132px 60px $cat-color,54px 72px $cat-color,96px 72px $cat-color,72px 84px $cat-color,78px 84px $cat-color,96px 78px $cat-color,54px 78px $cat-color;}


    #speech {
        position:relative;
        width:100px;
        height:40px;
        margin:10px -80px;
        text-align:center;
        background:#8bae21;
        font-size:30px;
        font-family: 'Geo', sans-serif;
        color:#fff;
    }

    li {
        list-style-type:none;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent #8bae21 transparent transparent;
    }
}