@import 'settings';
.home {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    .profile-image {
        text-align: center;
        img {

            border-radius: 50%;
            @include animation(profileImage 3.5s)
        }
        .txt-top {
            margin-top: 1rem;
            font-size: 1.2rem;
            vertical-align: middle;
            color: $primary-color;
            font-weight: 100;
            .profile-name {
                color: $primary-color-dark;
                font-weight: 800;
            }
            @include animation(profileTopText 2.5)
        }
        .txt-bottom {
            margin-top: 1rem;
            color: $primary-color-dark
        }
    }
}

@include keyframes(profileImage) {
    0% {@include transform(translate(0px, 200%))};
    25% {@include transform(translate(0px, 0px))};
    50% {@include transform(translate(0px, 0px))};
    100% {@include transform(translate(0px, -200%))};
    100% {@include transform(opacity(0))};
}


@include keyframes(profileTopText) {
    0% {@include transform(opacity(0))};
    100% {@include transform(opacity(1))};
}