@import "settings";

.mainMenu {
    width: 50px;
    height: 100vh;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    background: $color-white;
    box-shadow: 1px 1px rgba(27,27,27,.15);

    div {
        position: absolute;

        &.topLinks {
            top: 0;
        }

        &.middleLinks {
            top: 50%;
            @include transform(translate(0, -50%));
        }

        &.bottomLinks {
            bottom: 0;
        }
    }

    @media screen and (max-width: $mobileWidth) {
        width: 100vh;
        height: 50px;

        div {
            top: 0;

            &.topLinks {
                left: 0
            }

            &.middleLinks {
                text-align: center;
                position: fixed;
                top: 0;
                left: 50%;
                width: 200px;
                @include transform(translate(-50%, 0));
            }

            &.bottomLinks {
                position: fixed;
                right: 0;
            }
        }
    }
}

.MenuContainer {
    width: 250px;
    height: 100vh;
    display: block;
    left: 50px;
    position: fixed;
    top: 0;
    background: $color-light-gray;
    box-shadow: 1px 1px rgba(27, 27, 27, .15);

    @include transform(translate(0, 0));
    @include transition(all 0.9s ease);

    &.is-close {
        @include transform(translate(-100%, 0));
    }

    ul {
        width: 100%;
        margin-top: 50%;

        li {
            cursor: pointer;
            line-height: 36px;
            padding-left: 40px;
            color: $color-gray;
            width: 100%;
            border-top: 1px solid $color-white;
            border-bottom: 1px solid $color-white;
            @include transition(all 0.35s ease);

            &:hover {
                color: $color-white;
                background-color: $divider-color;
            }

        }
    }

    @media screen and (max-width: $mobileWidth) {
        left: 0;
    }
}

.mainSearch {
    position: fixed;
    left: 50px;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba($color-white, 0.7);
    vertical-align: middle;
    opacity: 0;
    font-size: 40px;
    @include transition(all 0.5s ease);
    @include transform(scale(1.1));


    &.is-open {
        visibility: visible;
        opacity: 1;
        @include transform(scale(1));
    }

    .InputContainer {
        width: 80%;
        margin-top: 30vh;
        margin-left: 10%;
        font-size: 48px;
        @include transition(all 0.5s ease);
        input {
            font-size: 36px;
            padding-left: 60px;
        }
        span {
            font-size: 36px;
        }
        background-color: $color-white;

        &.is-search {
            margin-top: 5vh;
        }
    }

    .SearchContainer {
        width: 80%;
        margin-top: 5vh;
        margin-left: 10%;
        background-color: $color-white;
        @include transition(all 0.5s ease);

        .Grid .GridElement{
            height: 200px;
        }
    }

    @media screen and (max-width: $mobileWidth) {
        left: 0;
        top: 50px;

        .InputContainer {
            width: 95%;
            margin-top: 0;
            margin-left: 2.5%;
            &.is-search {
                margin-top: 0;
            }
        }
        .SearchContainer {
            width: 95%;
            margin-top: 1vh;
            margin-left: 2.5%;
        }
    }
}

@include keyframes(searchOpen) {
    0% {width: 0;
        height: 0;
        display: none;}
    100% {
        width: 100%;
        height: 100vh;}
}