@import "settings";

.slideContent {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color-medium-gray;
  @include transition(all 0.5s ease);

  &.is-open {
    width: calc(100vw - 100px);
  }
}