@import "settings";

.slideContent {
  width: calc(100vw - 100px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-very-light-gray;
  @include transition(all 0.5s ease);
  @include transform(translate(-100%,0));

  &.is-open {
    @include transform(translate(0,0));

    @media screen and (max-width: $mobileWidth) {
      width: calc(100vw - 40px);
      padding-top: 50px;
    }

    @media screen and (min-width: $mobileWidth) {
      + div#bottomMenu > div{
        @include transition(all 0.5s ease);
        @include transform(translate(calc(100vw - 100px),0));
      }

      + div#bottomMenu nav{
        @include transition(all 0.5s ease);
        @include transform(translate(calc(100vw - 100px),0));
      }

      + div#bottomMenu menu-directive{
        display: none;
      }
    }
  }
}