@import "settings";
@import "fonts";
@import "menu";
@import "grid";
@import "article";
@import "home";
@import "login";
@import "admin";
@import "fa/font-awesome";
@import "material-colors/material-classes";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: Calibri, Arial, sans-serif;
    color: $primary-color-text;
    background-color: $primary-color-light-gray;

    height: 100%;
}

a {
    text-decoration: none;
}

.loader {
    z-index: -1;
    display: none;
    position: fixed;
    .circle {
        width: 100vh;
        height: 100vh;
        background-color: white;
        border: solid 1px black;
        border-radius: 100vh;
        z-index: 1;
        position: relative;
        margin-left: calc(50vw - 50vh);
        top: 0;
        opacity: 0;
    }

    .preloader {
        z-index: 2;
        position: fixed;
        left: calc(50vw - 64px);
        top: calc(50vh - 64px);
        opacity: 0;
    }

    &.active {
        z-index: 1;
        display: block;
        .circle {
            @include animation(fadeInHolder, 3.5s, '', '', '', 1, both);
        }
        .preloader {
            @include animation(fadeInPreloader, 3.5s, '', '', '', 1, both);
        }
    }
}

@include keyframes(fadeInHolder) {
    0% {@include transform(scale(0.01)); opacity: 1;}
    40% {@include transform(scale(10))}
    50% {opacity: 1;}
    70%, 99% {@include transform(scale(0.01))}
    100% {opacity: 0;}
}
@include keyframes(fadeInPreloader) {
    0%,15% {opacity: 0;}
    20% {opacity: 1;}
    60% {opacity: 1;}
    61%, 100% {opacity: 0;}
}