@import "settings";
@import "fonts";
@import "menu";
@import "grid";
@import "article";
@import "home";
@import "login";
@import "admin";
@import "about";
@import "contact";
@import "slide-content";
@import "fa/font-awesome";
@import "material-colors/material-classes";
@import "components/icon-button";
@import "components/reverse-button";
@import "components/input-text";
@import "components/button";
@import "components/input-select";
@import "components/textarea";
@import "components/tabs";
@import "components/related-selector";
@import "components/switch";
@import "components/ke-text-editor";
@import "components/files-manager";
@import "components/image-selector";
@import "components/multiselect";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: Calibri, Arial, sans-serif;
    color: $primary-text-color;
    background-color: $color-very-light-gray;

    height: 100%;
}

a {
    text-decoration: none;
    color: $primary-color;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

.loader {
    z-index: -1;
    display: none;
    position: fixed;
    .loadCircle {
        width: 100vh;
        height: 100vh;
        background-color: white;
        border: solid 1px black;
        border-radius: 100vh;
        z-index: 1;
        position: relative;
        margin-left: calc(50vw - 50vh);
        top: 0;
        opacity: 0;
    }

    .preloader {
        z-index: 2;
        position: fixed;
        left: calc(50vw - 64px);
        top: calc(50vh - 64px);
        opacity: 0;
    }

    &.active {
        z-index: 3;
        display: block;
        .loadCircle {
            @include animation(fadeInHolder, 3.5s, '', '', '', 1, both);
        }
        .preloader {
            @include animation(fadeInPreloader, 3.5s, '', '', '', 1, both);
        }
    }
}

.mainContent {
    margin-left: 50px;
    margin-top: 0;

    .admin {
        margin-left: -50px;
    }

    @media screen and (max-width: $mobileWidth) {
        margin-left: 0;
        margin-top: 50px;
    }
}

@include keyframes(fadeInHolder) {
    0% {@include transform(scale(0.01)); opacity: 1;}
    40% {@include transform(scale(10))}
    50% {opacity: 1;}
    70%, 99% {@include transform(scale(0.01))}
    100% {opacity: 0;}
}
@include keyframes(fadeInPreloader) {
    0%,15% {opacity: 0;}
    20% {opacity: 1;}
    60% {opacity: 1;}
    61%, 100% {opacity: 0;}
}

@include gridle_generate_classes();

.color-primary {
    color: $primary-color !important;
}

.color-gray {
    color: $color-gray !important;
}

.color-dark {
    color: $color-dark !important;
}