@import "settings";
@import "fonts";
@import "menu";
@import "grid";
@import "article";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: Calibri, Arial, sans-serif;
    color: $primary-color-text;

    height: 100%;
}

a {
    text-decoration: none;
}
