<section class="RelatedSelector">
    <div class="RelatedSelector--title">{{ctrl.title}}</div>
    <div class="RelatedSelector--elements row">
        <div class="RelatedSelector--element gr-6 gr-12@tablet gr-12@mobile"
             ui-sref="{{option[ctrl.optionLink]}}"
             ng-repeat="option in ctrl.options | limitTo : ctrl.limit : ctrl.offset">
            <div class="RelatedSelector--elementImageContainer">
                <div class="RelatedSelector--elementImage" ng-style="{'background-image':'url({{ctrl.getImageLink(option[ctrl.optionImage], 400)}})'}">
                </div>
                <div class="RelatedSelector--elementOverlay">
                    <h4>{{option.name}}</h4>
                </div>
            </div>
        </div>
        <div class="RelatedSelector--Switch RelatedSelector--leftSwitch" ng-click="ctrl.changeOffset(-1)">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="RelatedSelector--Switch RelatedSelector--rightSwitch" ng-click="ctrl.changeOffset(1)">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</section>