<div>
    <section class="KeImageModal" ng-controller="keImageModalController as modalCtrl">
        <ke-image-selector
                data-images="modalCtrl.images"
                data-value-name="name"
                data-title="Select image"
                data-action="modalCtrl.addImage"
                data-load-more-function="modalCtrl.loadMoreImages"
                data-ng-model="modalCtrl.selectedImage"
                data-no-more-images="modalCtrl.noMoreImages"
                ></ke-image-selector>
    </section>
</div>