<div class="KeTextEditor-Button KeTestEditor-Button--List"
     ng-click="ctrl.isOpen = true"
     title="{{ctrl.label}}">
    <i class="fa" ng-class="ctrl.icon"></i>
</div>
<div class="KeTestEditor-Button--List-Overlay" ng-class="{'is-open': ctrl.isOpen}" ng-click="ctrl.isOpen = false;"></div>
<div class="KeTestEditor-Button--List-Options" ng-class="{'is-open': ctrl.isOpen}">
    <ul>
        <li ng-repeat="option in ctrl.options" ng-click="keTextEditor.buttonAction(ctrl.action, option.action); ctrl.isOpen = false;">
            <span ng-bind-html="option.label | sanitize"></span>a
        </li>
    </ul>
</div>