<div class="KeTextEditor">
    <div class="KeTextEditor-Header"></div>
    <div class="KeTextEditor-Body">
        <div ng-show="!ctrl.editMode" >
            <iframe data-ng-model="ctrl.ngModel" ke-frame></iframe>
        </div>
        <textarea ng-show="ctrl.editMode" class="KeTextEditor-Textarea" ng-model="ctrl.ngModel"></textarea>
    </div>
    <div class="KeTextEditor-Footer">
        <span class="KeTextEditor-Button" ng-click="ctrl.editMode = !ctrl.editMode">
            <span ng-show="!ctrl.editMode"><i class="fa fa-code"></i>Source</span>
            <span ng-show="ctrl.editMode"><i class="fa fa-eye"></i>WYSIWYG</span>
        </span>
    </div>
</div>