<section class="adminArticle container">
    <div class="bg-img"><img class="postImagePreview" ng-if="articleCtrl.post.image !== null" ng-src="{{articleCtrl.getImageLink(articleCtrl.post.image, 1920)}}"/></div>

    <div class="gr-12">
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.name"
                    data-full-width="true"
                    data-placeholder="Post name"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.author"
                    data-full-width="true"
                    data-placeholder="Author"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.icon"
                    data-full-width="true"
                    data-placeholder="Fa icon class"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-select
                    ng-model="articleCtrl.post._category._id"
                    data-options="articleCtrl.categories"
                    data-full-width="true"
                    data-placeholder="Category"
                    data-option-value="_id"
                    data-option-name="name"
                    ></ke-select>
        </div>
        <div class="gr-12">
            <ke-multiselect
                    ng-model="articleCtrl.post.tags"
                    data-full-width="true"
                    data-placeholder="Enter tag"
                    data-options="articleCtrl.tags"
                    data-option-name="name"
                    data-option-value="_id"
                    data-on-add-new="articleCtrl.addNewTag"
                    ></ke-multiselect>
        </div>
        <div class="gr-12">
            <ke-image-selector
                    data-ng-model="articleCtrl.post.image"
                    data-images="articleCtrl.files"
                    data-value-name="name"
                    data-title="Main image"
                    data-load-more-function="articleCtrl.loadMoreImages"
                    data-no-more-images="articleCtrl.noMoreImages"
                    ></ke-image-selector>
        </div>
    </div>

    <div class="gr-12 articleContent">
        <div class="gr-12">
            <div class="textContainer hide hide@mobile" id="desktopEditor">
                <div class="editor" id="editor"></div>
            </div>
            <div class="textContainer gr-12 hide show@mobile" id="mobileEditor">
                <ke-textarea
                        data-label="Content"
                        ng-model="articleCtrl.post.content"
                        data-full-width="true"
                        data-rows="5"
                        ></ke-textarea>
            </div>
            <ke-text-editor ng-model="articleCtrl.post.content"></ke-text-editor>
            <ke-textarea
                    class="textContainer"
                    ng-model="articleCtrl.post.shortText"
                    data-full-width="true"
                    data-rows="5"
                    data-placeholder="Short Description"
                    ></ke-textarea>

        </div>
        <div class="gr-12">
            <div class="gr-3 gr12@mobile">
                <ke-switch
                        data-ng-model="articleCtrl.post.display"
                        data-label="Publish?"
                        ></ke-switch>
            </div>

            <div class="gr-3 gr12@mobile">
                <ke-input-text
                        ng-model="articleCtrl.post.publishedAt"
                        data-full-width="true"
                        data-placeholder="Publication Date"
                        ></ke-input-text>
            </div>
        </div>
        <div class="gr-12">
            <div class="gr-6 gr12@mobile">
                <ke-button
                        data-type="info"
                        data-label="Save"
                        data-full-width="true"
                        ng-click="articleCtrl.savePost()"
                        ></ke-button>
            </div>
            <div class="gr-6 gr-12@mobile">
                <ke-button
                        data-label="Delete"
                        data-type="error"
                        data-full-width="true"
                        ng-click="articleCtrl.deletePost()"
                        ></ke-button>
            </div>
        </div>
    </div>
</section>