<section class="adminArticle container">
    <div class="bg-img"><img class="postImagePreview" ng-if="articleCtrl.post.image !== null" ng-src="{{articleCtrl.getImageLink(articleCtrl.post.image, 1920)}}"/></div>

    <div class="row gr-12">
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.name"
                    data-full-width="true"
                    data-placeholder="Post name"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.author"
                    data-full-width="true"
                    data-placeholder="Author"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-input-text
                    ng-model="articleCtrl.post.name"
                    data-full-width="true"
                    data-placeholder="Fa icon class"
                    ></ke-input-text>
        </div>
        <div class="gr-3">
            <ke-select
                    ng-model="articleCtrl.post._category._id"
                    data-options="articleCtrl.categories"
                    data-full-width="true"
                    data-placeholder="Category"
                    data-option-value="_id"
                    data-option-name="name"
                    ></ke-select>
        </div>
        <div class="gr-12">
            <ke-select
                    ng-model="articleCtrl.post.image"
                    data-options="articleCtrl.files"
                    data-placeholder="Main image"
                    data-option-value="name"
                    data-option-name="name"
                    ></ke-select>
        </div>
    </div>

    <div class="row gr-12 articleContent">
        <md-content layout-margin hide show-gt-sm class="textContainer" id="desktopEditor">
            <div class="editor" id="editor"></div>
        </md-content>
        <md-input-container flex hide-gt-sm class="textContainer" id="mobileEditor">
            <label>Content</label>
            <textarea ng-model="articleCtrl.post.content" columns="1"></textarea>
        </md-input-container>
        <ke-textarea
                class="textContainer"
                ng-model="articleCtrl.post.shortText"
                data-full-width="true"
                data-rows="5"
                data-placeholder="Short Description"
                ></ke-textarea>
        <div layout="row" layout-align="space-between center">
            <div>
                <md-button class="md-raised md-primary" ng-click="articleCtrl.savePost()">Save</md-button>
                <md-button class="md-raised md-warn" ng-click="articleCtrl.deletePost()">Delete</md-button>
            </div>
            <md-switch ng-model="articleCtrl.post.display " aria-label="Switch 1">
                Publish?
            </md-switch>
        </div>
    </div>
</section>