<div class="keSelect" ng-class="{'is-fullWidth': ctrl.fullWidth,'is-open': ctrl.isFocused}">
    <input
            type="hidden"
            ng-model="ctrl.ngModel"
            ng-change="ctrl.onChange(ngModel)"
            ng-model-options="{debounce: 300}"
            >
    <div class="keSelect--overlay" ng-click="ctrl.isFocused = false;"></div>
    <input class="keSelect--input"
           type="text"
           placeholder="{{ctrl.placeholder}}"
           ng-required="ctrl.required"
           ng-model="ctrl.selectedValue"
           ng-focus="ctrl.isFocused = true"
           ng-class="{'has-no-icon': !ctrl.icon}"
           />
    <span ng-if="ctrl.icon !== undefined"><i class="fa" ng-class="ctrl.icon"></i></span>
    <i class="dropIcon fa fa-sort-desc" ng-click="ctrl.isFocused = !ctrl.isFocused"></i>
    <ul class="keSelect--list">
       <li ng-repeat="row in ctrl.options | filter:ctrl.filterOptions" ng-click="ctrl.inputChange(ctrl.optionValue ? row[ctrl.optionValue] : row); ctrl.isFocused = false;">{{ctrl.optionName ? row[ctrl.optionName] : row}}</li>
    </ul>
</div>