<div id="article-container" class="container article intro-effect-sidefixed" ng-class="{'notrans': status.notrans, 'modify': status.modify}">
    <header class="header" ng-click="toggle(1)">
        <div class="bg-img"><img src="http://192.168.1.1:8080/files/{{::articleData.image}}" alt="Background Image" /></div>
    </header>
    <article class="content">
        <div class="title">
            <h1>{{::articleData.name}}</h1>
            <p class="subline">{{::articleData.shortText}}</p>
            <p>by <strong>{{::articleData.author}}</strong> &#8212; Posted in
                <a ui-sref="category({categoryId: articleData._category._id})">{{::articleData._category.name}}</a>
                on <strong>{{::articleData.createdAt | date : mediumDate}}</strong></p>
        </div>
        <div>
            {{::articleData.content}}
        </div>
    </article>
</div>