<div id="article-container" class="container article intro-effect-sidefixed" ng-class="{'notrans': status.notrans, 'modify': status.modify}">
    <header class="header">
        <div class="bg-img"><img src="images/switzer.jpg" alt="Background Image" /></div>
    </header>
    <article class="content">
        <div class="title">
            <h1>{{::articleData.name}}</h1>
            <p class="subline">Some short description if possible</p>
            <p>by <strong>Kemal Erdem</strong> &#8212; Posted in <a ng-link="category({categoryId: articleData._category._id})">{{::articleData._category.name}}</a> on <strong>Jun 15, 2015</strong></p>
        </div>
        <div>
            {{::articleData.content}}
        </div>
    </article>
</div>