@import "../settings";

.keButton{
  position: relative;
  width: 200px;
  margin: 15px 0;
  padding: 10px 20px;
  background-color: $info-color;
  color: $color-white;
  text-align: center;
  font-size: $font-size-l;
  cursor: pointer;
  @include border-radius(5px);

  &.keButton--reverseLayout {
    background-color: $color-white;
    color: $info-color;
    @include border-radius(0);
    border: 2px solid $info-color;

    &:hover {
      background-color: $info-color;
      color: $color-white;
    }
  }

  &.is-fullWidth {
    width: 100%;
  }

  i {
    font-size: 20px;
  }

  &.keButton--warning {
    background-color: $warning-color;
  }

  &.keButton--error {
    background-color: $error-color;
  }

  &.keButton--success {
    background-color: $success-color;
  }
}