@import "../settings";

ke-icon-button {
    .keIconButton {
        font-size: 30px;
        height: 50px;
        color: $color-gray;
        cursor: pointer;
        text-align: center;
        @include transition(all 0.5s ease);
        &:hover {
            color: $primary-color;
        }

        i {
            padding: 10px 0;
            &.openedIcon {
                display: block;
            }
            &.closedIcon {
                display: none;
            }

        }

        &.is-close {
            i {
                &.openedIcon {
                    display: none;
                }
                &.closedIcon {
                    display: block;
                }
            }
        }


    }
    &.bordered {
        border-top: 1px solid $divider-color;
        border-bottom: 1px solid $divider-color;
    }

    @media screen and (max-width: $mobileWidth) {
        &.bordered {
            i {
                width: 50px;
            }
            border: 0;
            border-left: 1px solid $divider-color;
            border-right: 1px solid $divider-color;
        }
    }
}

.TwButton {
    color: $color-white;
    background-color: $twitter-color;
    cursor: pointer;
    position: relative;
    height: 20px;
    padding: 1px 8px 1px 6px;
    font-weight: 500;
    border-radius: 3px;
    box-sizing: border-box;
    i {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 14px;
        height: 14px;
    }
    span {
        margin-left: 2px;
        font-size: 14px;
    }
}