@import "../settings";

.keInput{
    position: relative;
    width: 200px;
    margin: 15px 0;

    &.is-fullWidth {
        width: 100%;
    }

    span{
        position: absolute;
        display: block;
        color: $secondary-text-color;
        left: 10px;
        top: 8px;
        font-size: $font-size-xl;
    }

    input{
        width: 100%;
        padding: 10px 5px 10px 40px;
        display: block;
        border: 2px solid $color-medium-gray;
        border-radius: 4px;
        transition: 0.2s ease-out;
        font-size: $font-size-l;

        &:focus{
            padding-left: 10px;
            outline: 0;
            border-color: $primary-color;

            + span {
                display: none;
            }
        }

        &.is-required {
            border-color: #FF7052;
        }
    }
}