@import "../settings";

.RelatedSelector {
  overflow: hidden;

  .RelatedSelector--title {
    font-size: $font-size-l;
    font-weight: 500;
  }

  .RelatedSelector--elements {
    overflow: hidden;
    height: 240px;

    .RelatedSelector--element {
      overflow: hidden;

      .RelatedSelector--elementImageContainer {
        .RelatedSelector--elementImage {
          height: 240px;
          background-size: cover;
          background-repeat: no-repeat;
          padding-top: 50%;
          text-align: center;
          cursor: pointer;
          h2 {
            @include transform(translate(0, -50%));
            @include transition(all 0.45s ease);
            color: $color-light-gray;
            font-size: $font-size-xl;
            opacity: 0;

          }

          &:hover {
            h2 {
              opacity: 1;
            }
          }

          @media screen and (max-width: $tabletWidth) {
            h2 {
              opacity: 1;
            }
          }

        }

        .RelatedSelector--elementOverlay {
          background-color: $color-dark;
          opacity: 0.1;
        }
      }

    }
  }
}