@import '../settings';

.keSwitch {
  display: inline-flex;

  &.is-fullWidth {
    width: 100%;
  }

  .keSwitch-label {
    padding-top: 1px;
    margin-right: 10px;
    font-size: $font-size-l;
    color: $color-gray;
  }

  .keSwitch-element {
    width: 80px;
    height: 26px;
    background: $color-very-light-gray;
    margin: 0;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba($color-light-gray,0.5), 0px 1px 0px rgba($color-light-gray,0.2);
    &:after {
      content: 'OFF';
      color: $color-dark;
      position: absolute;
      right: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba($color-gray,.15);
    }
    &:before {
      content: 'ON';
      color: $primary-color;
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
    }
    label {
      display: block;
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: $primary-color;
      background: linear-gradient(top, $primary-color 0%, $primary-color 40%, $primary-color 100%);
      border-radius: 50px;
      transition: all 0.4s ease;
      box-shadow: 0px 2px 5px 0px rgba($color-dark,0.3);
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 43px;
      }
    }
  }
}