<section class="login">
    <form name="signInForm" ng-submit="login.loginAction()">
        <div class="gr-6 gr-8@tablet gr-12@mobile gr-centered">
            <div class="row row-align-middle row-align-center">
                <div class="gr-12">
                    <ke-input-text
                            ng-model="login.login"
                            data-label="Email"
                            data-type="email"
                            data-required="true"
                            data-icon="fa-at"
                            data-full-width="true"
                            ></ke-input-text>
                </div>
                <div class="gr-12">
                    <ke-input-text
                            ng-model="login.password"
                            data-label="Password"
                            data-type="password"
                            data-required="true"
                            data-icon="fa-key"
                            data-full-width="true"
                            ></ke-input-text>
                </div>
                <div class="gr-12">
                    <ke-button
                            data-label="Login"
                            data-icon="fa-sign-in"
                            data-full-width="true"
                            ng-click="login.loginAction()"
                            ></ke-button>
                </div>
            </div>
        </div>
    </form>
</section>