<section class="admin" layout="column" layout-fill>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More" ng-click="admin.showGridBottomSheet($event)">
                <icon class="fa fa-bars"></icon>
            </md-button>
            <h4>
                <span>Admin Panel</span>
            </h4>
            <span flex></span>
            <h5>Logged as {{::admin.userData.userName}}</h5>
        </div>
    </md-toolbar>
    <div ui-view="adminContent"></div>
</section>