<section class="admin">
    <div class="AdminMenu">
        <div class="gr-1 AdminMenu--icon">
            <ke-icon-button
                    data-icon="fa-bars"
                    data-alt-icon="fa-bars fa-rotate-90"
                    data-color="color-dark"
                    data-close="admin.bottomMenuOpen"
                    ng-click="admin.toggleBottomMenu()"
                    data-no-action="true"
                    ></ke-icon-button>
        </div>
        <div class="gr-9 gr-6@mobile AdminMenu--title">
            <h3>Admin Panel</h3>
        </div>
        <div class="gr-2 gr5@mobile AdminMenu--userName">
            <h5><span class="hide@mobile">Logged as </span><span class="">{{::admin.userData.userName}}</span></h5>
        </div>
    </div>
    <div class="AdminContent gr-12" ui-view="adminContent">
    </div>
    <nav class="row row-align-between row-align-middle AdminBottomMenu" ng-class="{'is-open': admin.bottomMenuOpen}">

        <div ng-repeat="item in admin.items" ng-if="item.link || item.click" class="AdminBottomMenu--icon gr-1">
            <ke-icon-button
                    ng-if="item.link"
                    data-icon="{{item.icon}}"
                    data-alt-icon="{{item.icon}}"
                    ui-sref="{{item.link}}"
                    ng-click="admin.bottomMenuOpen = false"
                    data-color="color-dark"
                    data-title="{{::item.name}}"
                    ></ke-icon-button>

            <ke-icon-button
                    ng-if="item.click"
                    data-icon="{{item.icon}}"
                    data-alt-icon="{{item.icon}}"
                    ng-click="admin.callFunction(item.click); admin.bottomMenuOpen = false"
                    data-color="color-dark"
                    data-title="{{::item.name}}"
                    ></ke-icon-button>
        </div>
    </nav>
</section>