<section class="home" ng-class="{'animate' : home.startAnimate}">
    <div class="profile-image" ng-click="home.startAnimate = true">
        <img src="images/profilePic.jpg" ng-click="home.startAnimate = true">
        <div class="circle"></div>
        <div class="txt-top">
            HI, MY NAME IS <span class="profile-name">KEMAL ERDEM</span>
        </div>
        <div class="txt-bottom">
            Front End Developer
        </div>
        <div class="txt-bottom">
            <span class="clickToPlay" ng-click="home.startAnimate = true">(Click to play)</span>
        </div>
    </div>
    <div class="technologies">
        <img src="images/logo-angular.png" class="imageAngular">
        <img src="images/logo-css3.png" class="imageCss">
        <img src="images/logo-html5.png" class="imageHtml">
        <img src="images/logo-node.png" class="imageNode">
        <img src="images/logo-hapi.svg" class="imageHapi">
        <img src="images/logo-mongo.png" class="imageMongo">
    </div>

    <div class="technologiesLeft">
        <a href="https://angularjs.org/" target="_blank" class="angularLink"><img src="images/logo-angular.png" class="imageAngular"></a>
        <a href="http://www.w3.org/Style/CSS/" target="_blank" class="cssLink"><img src="images/logo-css3.png" class="imageCss"></a>
        <a href="http://www.w3.org/html/wg/" target="_blank" class="html5Link"><img src="images/logo-html5.png" class="imageHtml"></a>
        <a href="https://nodejs.org/" target="_blank" class="nodeLink"><img src="images/logo-node.png" class="imageNode"></a>
        <a href="http://hapijs.com/" target="_blank" class="hapiLink"><img src="images/logo-hapi.svg" class="imageHapi"></a>
        <a href="https://www.mongodb.org/" target="_blank" class="mongoLink"><img src="images/logo-mongo.png" class="imageMongo"></a>
    </div>

    <ul class="socialLinks">
        <li><a href="http://www.twitter.com/burnpiro" class="bt-icon icon-twitter"></a></li>
        <li><a href="https://plus.google.com/110838918441805962112" class="bt-icon icon-gplus"></a></li>
        <li><a href="https://www.facebook.com/pirokemal" class="bt-icon icon-facebook"></a></li>
        <li><a href="https://github.com/burnpiro" class="bt-icon icon-github"></a></li>
    </ul>

    <div class="clickToSeeMore">
        <div class="arrow">
            <i class="fa fa-long-arrow-left"></i> Click to see more
        </div>
    </div>
</section>