@import 'material-color';

@each $color-name, $color-variants in $material-colors {
    @each $color-variant, $hex-value in $color-variants {
        @if $color-variant != 'text' {
            .color-#{$color-name}-#{$color-variant} {
                color: #{$hex-value}
            }
            .bg-color-#{$color-name}-#{$color-variant} {
                background-color: #{$hex-value};
                color: #{map-get($color-variants, 'text')};
            }
        }
    }
}