<section class="contact gr-8 gr-12@mobile gr-centered" ng-controller="ContactController as contact">
    <h1 class="md-title">Contact me</h1>
    <form ng-submit="contact.sendMessage()">
        <ke-input-text
                data-placeholder="Email (required)"
                data-type="email"
                ng-model="contact.contactForm.email"
                data-required="true"
                data-icon="fa-at"
                data-full-width="true"
                ></ke-input-text>
        <ke-input-text
                data-placeholder="Name (required)"
                ng-model="contact.contactForm.author"
                data-required="true"
                data-icon="fa-user"
                data-full-width="true"
                ></ke-input-text>
        <ke-input-text
                data-placeholder="Subject (required)"
                ng-model="contact.contactForm.title"
                data-required="true"
                data-icon="fa-header"
                data-full-width="true"
                ></ke-input-text>
        <ke-textarea
                data-placeholder="Message"
                ng-model="contact.contactForm.content"
                data-required="true"
                data-full-width="true"
                ></ke-textarea>
        <ke-button
                data-label="Send it!"
                data-icon="fa-arrow-right"
                ng-click="contact.sendMessage()"
                data-full-width="true"
                ></ke-button>
    </form>
</section>