<section class="container">
    <div class="Grid">
        <div ng-if="(grid.postsData.length + grid.categoriesData.length) === 0">
            <div id="catInfo">
                <h3>Sorry but there are no articles here :(</h3>
                <h5>Instead I give you a "Pixel Cat"</h5>
            </div>
            <div id="catContainer">
                <div id="cat">
                    <div>

                    </div>
                </div>

                <div id="speech">meow
                    <li></li>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <ke-grid
            data-elements="grid.postsData"
            data-type="post"
            data-link="post"
            ></ke-grid>
        <ke-grid
            data-elements="grid.categoriesData"
            data-type="category"
            ></ke-grid>

        <div class="gr-12"
             ng-if="!grid.noMorePosts">
            <ke-button
                    data-label="Load more articles"
                    data-full-width="true"
                    ng-click="grid.loadMorePosts()"
                    data-reverse-layout="true"
                    data-loading="grid.busy"
                    ></ke-button>
        </div>
    </div>
</section>